@inherits Custom.Hybrid.RazorTyped
@using System.Linq
@using AppCode.Extensions.OpenMeteo


<h3>Current Weather</h3>
@{
  var currentDs = Kit.Data.GetSource<OpenMeteoCurrent>(parameters: new {
    Latitude = 47.1674,
    Longitude = 9.4779,
    Timezone = "auto"
  });

  var current = AsItem(currentDs.List.FirstOrDefault(), propsRequired: false);
}

@if (current == null) {
  <p>No data</p>
}
else {
  <p><strong>Time:</strong> @current.String("When")</p>
  <p><strong>Temperature:</strong> @current.Double("Temperature") °C</p>
  <p><strong>Weather:</strong> @current.String("Weather")</p>
  <p><strong>Wind Speed:</strong> @current.Double("WindSpeed") km/h</p>
}
